---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include navbar.html %}
  {% include showcase.html %}
  {% include about.html %}
  {% include contact.html %}
  <!--Footer begins here-->
  {% include footer.html %}
</body>
<script>
  window.addEventListener("scroll", function (event) {
    var scroll = this.scrollY;
    var item = document.getElementsByClassName('navbar-item');
    /* console.log(scroll); */
    if (scroll < 565) {
      item[1].classList.add('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.remove('is-active');
    }
    if (scroll > 565 && scroll < 1130) {
      item[1].classList.remove('is-active');
      item[2].classList.add('is-active');
      item[3].classList.remove('is-active');
    }
    if (scroll > 1130) {
      item[1].classList.remove('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.add('is-active');
    }
  });
</script>
<!-- Typed.js DONT TOUCH THIS! -->
<div id="typed-strings">
</div>

<script>
    var typed = new Typed('#typed', {
        strings: ["Hello, Bonjour, नमस्ते !", "I am Rohan Das ",
            "I am a Passionate Coder!",
            "I am a Creative Graphic Designer!",
            "I am an enthusiastic Techie!",
            "Welcome To My page!",
            "Checkout My Blog!",
            "Checkout My Projects!",
            "Thanks for visiting my page!"
        ],
        backSpeed: 25,
        smartBackspace: true,
        backDelay: 1500,
        startDelay: 1000,
        typeSpeed: 15,
        loop: true,

    });
</script>



</html>